In [16]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("udf").getOrCreate()

In [17]:
sellers = spark.read.format("parquet")\
                    .options(header=True)\
                    .load("file:///home/tamaghna/big_data_spark/sellers_parquet")

In [18]:
sellers.show()

+---------+-----------+------------+
|seller_id|seller_name|daily_target|
+---------+-----------+------------+
|        0|   seller_0|     2500000|
|        1|   seller_1|      257237|
|        2|   seller_2|      754188|
|        3|   seller_3|      310462|
|        4|   seller_4|     1532808|
|        5|   seller_5|     1199693|
|        6|   seller_6|     1055915|
|        7|   seller_7|     1946998|
|        8|   seller_8|      547320|
|        9|   seller_9|     1318051|
+---------+-----------+------------+

In [19]:
def my_func(name):
    return name.split("_")[0]+"-"+name.split("_")[1]
my_func("seller_0")

'seller-0'

In [20]:
products = spark.read.format("parquet")\
                        .options(header=True)\
                        .load("file:///home/tamaghna/big_data_spark/products_parquet")

In [21]:
orders = spark.read.format("parquet")\
                    .options(header=True)\
                    .load("file:///home/tamaghna/big_data_spark/sales_parquet")

In [22]:
dropped_text_order = orders.drop("bill_raw_text")

In [23]:
dropped_text_order.show(10,False)

+--------+----------+---------+----------+---------------+
|order_id|product_id|seller_id|date      |num_pieces_sold|
+--------+----------+---------+----------+---------------+
|1       |0         |0        |2020-07-10|26             |
|2       |0         |0        |2020-07-08|13             |
|3       |0         |0        |2020-07-05|38             |
|4       |0         |0        |2020-07-05|56             |
|5       |0         |0        |2020-07-05|11             |
|6       |0         |0        |2020-07-01|82             |
|7       |0         |0        |2020-07-04|15             |
|8       |0         |0        |2020-07-08|79             |
|9       |0         |0        |2020-07-10|25             |
|10      |0         |0        |2020-07-08|8              |
+--------+----------+---------+----------+---------------+
only showing top 10 rows

In [24]:
dropped_text_order.write.format("parquet").options(header=True).mode("overwrite").partitionBy("seller_id")\
                .save("file:///home/tamaghna/files/dropped_text_order2")

In [25]:
df = spark.read.format("parquet").load("file:///home/tamaghna/files/dropped_text_order.parquet")

In [26]:
df.show()

+--------+----------+---------+----------+---------------+
|order_id|product_id|seller_id|      date|num_pieces_sold|
+--------+----------+---------+----------+---------------+
|10099700|         0|        0|2020-07-10|              1|
|10099701|         0|        0|2020-07-08|             84|
|10099702|         0|        0|2020-07-05|             38|
|10099703|         0|        0|2020-07-09|             51|
|10099704|         0|        0|2020-07-04|             17|
|10099705|         0|        0|2020-07-02|             65|
|10099706|         0|        0|2020-07-04|             46|
|10099707|         0|        0|2020-07-04|             47|
|10099708|         0|        0|2020-07-10|             67|
|10099709|         0|        0|2020-07-07|             79|
|10099710|         0|        0|2020-07-07|             58|
|10099711|         0|        0|2020-07-07|             59|
|10099712|         0|        0|2020-07-07|             10|
|10099713|         0|        0|2020-07-05|             65|
|10099714|         0|        0|2020-07-04|             59|
|10099715|         0|        0|2020-07-02|             79|
|10099716|         0|        0|2020-07-09|             81|
|10099717|         0|        0|2020-07-08|             37|
|10099718|         0|        0|2020-07-09|             48|
|10099719|         0|        0|2020-07-06|             37|
+--------+----------+---------+----------+---------------+
only showing top 20 rows

In [27]:
# UDF

In [28]:
df = spark.read.format("csv").options(header=True,inferSchema=True).load("file:///home/tamaghna/files/employees.csv")

In [29]:
df = df.select("employee_id","first_name","last_name","email","phone_number","hire_date")

In [31]:
df.write.format("csv").options(header=True).mode("overwrite").save("file:///home/tamaghna/files/employees_truc")

In [32]:
df.count()

50

In [33]:
df2 = spark.read.format("csv").options(header=True).load("file:///home/tamaghna/files/employees_truc")

In [36]:
df2.show()

+-----------+----------+---------+--------+------------+---------+
|employee_id|first_name|last_name|   email|phone_number|hire_date|
+-----------+----------+---------+--------+------------+---------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|
+-----------+----------+---------+--------+------------+---------+
only showing top 20 rows

In [37]:
def email(name1,name2):
    return name1.lower() + "." + name2.lower() + ".@company.com"

def firstName(name):
    return name.lower()

def lastName(name):
    return name.upper()

print(email("Alexander","Hunold"))
print(firstName("Alexander"))
print(lastName("Hunold"))

alexander.hunold.@company.com
alexander
HUNOLD

In [38]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

In [39]:
email_udf = udf(email,StringType())
first_name_udf = udf(firstName,StringType())
last_name_udf = udf(lastName,StringType())

In [40]:
emp = spark.read.format("csv").options(header=True).load("file:///home/tamaghna/files/employees_truc")

In [41]:
emp.withColumn("email",email_udf(emp.first_name,emp.last_name))\
.withColumn("first_name",first_name_udf(emp.first_name))\
    .withColumn("last_name",last_name_udf(emp.last_name)).show()

+-----------+----------+---------+--------------------+------------+---------+
|employee_id|first_name|last_name|               email|phone_number|hire_date|
+-----------+----------+---------+--------------------+------------+---------+
|        198|    donald| OCONNELL|donald.oconnell.@...|650.507.9833|21-JUN-07|
|        199|   douglas|    GRANT|douglas.grant.@co...|650.507.9844|13-JAN-08|
|        200|  jennifer|   WHALEN|jennifer.whalen.@...|515.123.4444|17-SEP-03|
|        201|   michael|HARTSTEIN|michael.hartstein...|515.123.5555|17-FEB-04|
|        202|       pat|      FAY|pat.fay.@company.com|603.123.6666|17-AUG-05|
|        203|     susan|   MAVRIS|susan.mavris.@com...|515.123.7777|07-JUN-02|
|        204|   hermann|     BAER|hermann.baer.@com...|515.123.8888|07-JUN-02|
|        205|   shelley|  HIGGINS|shelley.higgins.@...|515.123.8080|07-JUN-02|
|        206|   william|    GIETZ|william.gietz.@co...|515.123.8181|07-JUN-02|
|        100|    steven|     KING|steven.king.@comp...|515.123.4567|17-JUN-03|
|        101|     neena|  KOCHHAR|neena.kochhar.@co...|515.123.4568|21-SEP-05|
|        102|       lex|  DE HAAN|lex.de haan.@comp...|515.123.4569|13-JAN-01|
|        103| alexander|   HUNOLD|alexander.hunold....|590.423.4567|03-JAN-06|
|        104|     bruce|    ERNST|bruce.ernst.@comp...|590.423.4568|21-MAY-07|
|        105|     david|   AUSTIN|david.austin.@com...|590.423.4569|25-JUN-05|
|        106|     valli|PATABALLA|valli.pataballa.@...|590.423.4560|05-FEB-06|
|        107|     diana|  LORENTZ|diana.lorentz.@co...|590.423.5567|07-FEB-07|
|        108|     nancy|GREENBERG|nancy.greenberg.@...|515.124.4569|17-AUG-02|
|        109|    daniel|   FAVIET|daniel.faviet.@co...|515.124.4169|16-AUG-02|
|        110|      john|     CHEN|john.chen.@compan...|515.124.4269|28-SEP-05|
+-----------+----------+---------+--------------------+------------+---------+
only showing top 20 rows

In [42]:
emp.withColumn("email",email_udf(emp.first_name,emp.last_name)).show()

+-----------+----------+---------+--------------------+------------+---------+
|employee_id|first_name|last_name|               email|phone_number|hire_date|
+-----------+----------+---------+--------------------+------------+---------+
|        198|    Donald| OConnell|donald.oconnell.@...|650.507.9833|21-JUN-07|
|        199|   Douglas|    Grant|douglas.grant.@co...|650.507.9844|13-JAN-08|
|        200|  Jennifer|   Whalen|jennifer.whalen.@...|515.123.4444|17-SEP-03|
|        201|   Michael|Hartstein|michael.hartstein...|515.123.5555|17-FEB-04|
|        202|       Pat|      Fay|pat.fay.@company.com|603.123.6666|17-AUG-05|
|        203|     Susan|   Mavris|susan.mavris.@com...|515.123.7777|07-JUN-02|
|        204|   Hermann|     Baer|hermann.baer.@com...|515.123.8888|07-JUN-02|
|        205|   Shelley|  Higgins|shelley.higgins.@...|515.123.8080|07-JUN-02|
|        206|   William|    Gietz|william.gietz.@co...|515.123.8181|07-JUN-02|
|        100|    Steven|     King|steven.king.@comp...|515.123.4567|17-JUN-03|
|        101|     Neena|  Kochhar|neena.kochhar.@co...|515.123.4568|21-SEP-05|
|        102|       Lex|  De Haan|lex.de haan.@comp...|515.123.4569|13-JAN-01|
|        103| Alexander|   Hunold|alexander.hunold....|590.423.4567|03-JAN-06|
|        104|     Bruce|    Ernst|bruce.ernst.@comp...|590.423.4568|21-MAY-07|
|        105|     David|   Austin|david.austin.@com...|590.423.4569|25-JUN-05|
|        106|     Valli|Pataballa|valli.pataballa.@...|590.423.4560|05-FEB-06|
|        107|     Diana|  Lorentz|diana.lorentz.@co...|590.423.5567|07-FEB-07|
|        108|     Nancy|Greenberg|nancy.greenberg.@...|515.124.4569|17-AUG-02|
|        109|    Daniel|   Faviet|daniel.faviet.@co...|515.124.4169|16-AUG-02|
|        110|      John|     Chen|john.chen.@compan...|515.124.4269|28-SEP-05|
+-----------+----------+---------+--------------------+------------+---------+
only showing top 20 rows

In [43]:
emp.write.format("csv").options(header=True)\
    .mode("overwrite")\
    .save("file:///home/tamaghna/files/employees_transformed")

In [44]:
def email(name1,name2):
    return name1.lower() + "." + name2.lower() + ".@company.com"

def firstName(name):
    return name.lower()

def lastName(name):
    return name.upper()

In [45]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

In [46]:
spark.udf.register("email_regUDF",email,StringType())

In [47]:
spark.udf.register("first_name_regUDF",firstName,StringType())

In [48]:
spark.udf.register("last_name_regUDF",lastName,StringType())

In [49]:
spark.catalog.listTables()

[]

In [50]:
emp.createOrReplaceTempView("emp_table")

In [51]:
spark.catalog.listTables()

[Table(name='emp_table', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [52]:
# employee_id|first_name|last_name|email|phone_number|hire_date

In [61]:
emp_sql = spark.sql("\
                            select\
                                first_name_regUDF(first_name) as first_name,\
                                last_name_regUDF(last_name) as last_name,\
                                email_regUDF(first_name, last_name) as email,\
                                phone_number,\
                                hire_date\
                                from emp_table"
                     )

In [57]:
type(transformed_date)

pyspark.sql.dataframe.DataFrame

In [62]:
emp_sql.write.format("csv").options(header=True)\
        .mode("overwrite")\
        .save("file:///home/tamaghna/files/employees_transformed_sql")