In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("aggregations").getOrCreate()

2021-09-29 08:36:28,943 WARN util.Utils: Your hostname, tb-LinuxBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
2021-09-29 08:36:28,948 WARN util.Utils: Set SPARK_LOCAL_IP if you need to bind to another address
2021-09-29 08:36:30,440 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2021-09-29 08:36:32,796 WARN util.Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df = spark.read.format("csv")\
        .options(header=True)\
        .options(inferSchema=True)\
        .load("file:///home/tamaghna/spark-The-Definitive-Guide/data/retail-data/all/online-retail-dataset.csv")\
        .coalesce(5)

In [4]:
df.cache()

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: double, CustomerID: int, Country: string]

In [6]:
df.createOrReplaceTempView("dfTable")

In [8]:
df.show(5)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 5 rows

In [9]:
df.count()

541909

In [15]:
from pyspark.sql.functions import count,col, countDistinct

In [18]:
df.select(count(col("InvoiceNo"))).show()

+----------------+
|count(InvoiceNo)|
+----------------+
|          541909|
+----------------+

In [17]:
df.select(countDistinct(col("StockCode"))).show()

+-------------------------+
|count(DISTINCT StockCode)|
+-------------------------+
|                     4070|
+-------------------------+

In [20]:
from pyspark.sql.functions import first,last,col

In [21]:
df.select(first(col("StockCode")),last(col("StockCode"))).show()

+----------------+---------------+
|first(StockCode)|last(StockCode)|
+----------------+---------------+
|          85123A|          22138|
+----------------+---------------+

In [23]:
from pyspark.sql.functions import min,max,col

In [24]:
df.select(min(col("Quantity")),max(col("Quantity"))).show()

+-------------+-------------+
|min(Quantity)|max(Quantity)|
+-------------+-------------+
|       -80995|        80995|
+-------------+-------------+

In [28]:
from pyspark.sql.functions import sum,col,sumDistinct

In [27]:
df.select(sum(col("Quantity"))).show()

+-------------+
|sum(Quantity)|
+-------------+
|      5176450|
+-------------+

In [29]:
df.select(sumDistinct(col("Quantity"))).show()

+----------------------+
|sum(DISTINCT Quantity)|
+----------------------+
|                 29310|
+----------------------+