In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_book").getOrCreate()

2021-09-29 06:38:04,681 WARN util.Utils: Your hostname, tb-LinuxBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
2021-09-29 06:38:04,683 WARN util.Utils: Set SPARK_LOCAL_IP if you need to bind to another address
2021-09-29 06:38:07,211 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
flightData2015 = spark\
                .read\
                .options(inferSchema=True)\
                .options(header=True)\
                .format("csv")\
                .load("file:///home/tamaghna/spark-The-Definitive-Guide/data/flight-data/csv/2015-summary.csv")

In [3]:
flightData2015.show(5,False)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |15   |
|United States    |Croatia            |1    |
|United States    |Ireland            |344  |
|Egypt            |United States      |15   |
|United States    |India              |62   |
+-----------------+-------------------+-----+
only showing top 5 rows

In [4]:
flightData2015.take(3)

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count=344)]

In [5]:
flightData2015 = flightData2015.withColumnRenamed("count","flight_count")

In [6]:
flightData2015.show(5)

+-----------------+-------------------+------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|flight_count|
+-----------------+-------------------+------------+
|    United States|            Romania|          15|
|    United States|            Croatia|           1|
|    United States|            Ireland|         344|
|            Egypt|      United States|          15|
|    United States|              India|          62|
+-----------------+-------------------+------------+
only showing top 5 rows

In [7]:
flightData2015.sort("flight_count").explain()

== Physical Plan ==
*(2) Sort [flight_count#41 ASC NULLS FIRST], true, 0
+- Exchange rangepartitioning(flight_count#41 ASC NULLS FIRST, 200), ENSURE_REQUIREMENTS, [id=#63]
   +- *(1) Project [DEST_COUNTRY_NAME#16, ORIGIN_COUNTRY_NAME#17, count#18 AS flight_count#41]
      +- FileScan csv [DEST_COUNTRY_NAME#16,ORIGIN_COUNTRY_NAME#17,count#18] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[file:/home/tamaghna/spark-The-Definitive-Guide/data/flight-data/csv/2015-summar..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,ORIGIN_COUNTRY_NAME:string,count:int>

In [8]:
flightData2015.sort(flightData2015.flight_count.desc()).show(10)

+-----------------+-------------------+------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|flight_count|
+-----------------+-------------------+------------+
|    United States|      United States|      370002|
|    United States|             Canada|        8483|
|           Canada|      United States|        8399|
|    United States|             Mexico|        7187|
|           Mexico|      United States|        7140|
|   United Kingdom|      United States|        2025|
|    United States|     United Kingdom|        1970|
|            Japan|      United States|        1548|
|    United States|              Japan|        1496|
|          Germany|      United States|        1468|
+-----------------+-------------------+------------+
only showing top 10 rows

In [9]:
spark.conf.get("spark.sql.shuffle.partitions")

'200'

In [10]:
flightData2015.createOrReplaceTempView("flight_data_2015")

In [11]:
sqlWay = spark.sql('''
                SELECT
                DEST_COUNTRY_NAME
                ,COUNT(1) AS COUNT
                FROM flight_data_2015
                GROUP BY DEST_COUNTRY_NAME
                    ''')

In [12]:
pysparkWay = flightData2015.groupBy("DEST_COUNTRY_NAME").count().withColumnRenamed("count","COUNT")

In [13]:
pysparkWay.show(5)

+-----------------+-----+
|DEST_COUNTRY_NAME|COUNT|
+-----------------+-----+
|         Anguilla|    1|
|           Russia|    1|
|         Paraguay|    1|
|          Senegal|    1|
|           Sweden|    1|
+-----------------+-----+
only showing top 5 rows

In [14]:
sqlWay.show(5)

+-----------------+-----+
|DEST_COUNTRY_NAME|COUNT|
+-----------------+-----+
|         Anguilla|    1|
|           Russia|    1|
|         Paraguay|    1|
|          Senegal|    1|
|           Sweden|    1|
+-----------------+-----+
only showing top 5 rows

In [15]:
sqlWay.explain()

== Physical Plan ==
*(2) HashAggregate(keys=[DEST_COUNTRY_NAME#16], functions=[count(1)])
+- Exchange hashpartitioning(DEST_COUNTRY_NAME#16, 200), ENSURE_REQUIREMENTS, [id=#145]
   +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#16], functions=[partial_count(1)])
      +- FileScan csv [DEST_COUNTRY_NAME#16] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[file:/home/tamaghna/spark-The-Definitive-Guide/data/flight-data/csv/2015-summar..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>

In [16]:
pysparkWay.explain()

== Physical Plan ==
*(2) HashAggregate(keys=[DEST_COUNTRY_NAME#16], functions=[count(1)])
+- Exchange hashpartitioning(DEST_COUNTRY_NAME#16, 200), ENSURE_REQUIREMENTS, [id=#164]
   +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#16], functions=[partial_count(1)])
      +- FileScan csv [DEST_COUNTRY_NAME#16] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[file:/home/tamaghna/spark-The-Definitive-Guide/data/flight-data/csv/2015-summar..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>

In [17]:
spark.sql("select max(flight_count) from flight_data_2015").show()

+-----------------+
|max(flight_count)|
+-----------------+
|           370002|
+-----------------+

In [18]:
flightData2015.agg({"flight_count":"max"}).show()

+-----------------+
|max(flight_count)|
+-----------------+
|           370002|
+-----------------+

In [19]:
flightData2015.groupBy("DEST_COUNTRY_NAME").agg({"flight_count":"max"}).orderBy("DEST_COUNTRY_NAME").show()

+--------------------+-----------------+
|   DEST_COUNTRY_NAME|max(flight_count)|
+--------------------+-----------------+
|             Algeria|                4|
|              Angola|               15|
|            Anguilla|               41|
| Antigua and Barbuda|              126|
|           Argentina|              180|
|               Aruba|              346|
|           Australia|              329|
|             Austria|               62|
|          Azerbaijan|               21|
|             Bahrain|               19|
|            Barbados|              154|
|             Belgium|              259|
|              Belize|              188|
|             Bermuda|              183|
|             Bolivia|               30|
|Bonaire, Sint Eus...|               58|
|              Brazil|              853|
|British Virgin Is...|              107|
|            Bulgaria|                3|
|        Burkina Faso|                1|
+--------------------+-----------------+
only showing top 20 rows

In [20]:
# Top 5 estination countries

In [21]:
spark.sql('''
            SELECT 
            DEST_COUNTRY_NAME,
            SUM(FLIGHT_COUNT) AS FLIGHTS
            FROM
            flight_data_2015
            GROUP BY DEST_COUNTRY_NAME
            ORDER BY SUM(FLIGHT_COUNT) DESC
            LIMIT(5)
        ''').show()

+-----------------+-------+
|DEST_COUNTRY_NAME|FLIGHTS|
+-----------------+-------+
|    United States| 411352|
|           Canada|   8399|
|           Mexico|   7140|
|   United Kingdom|   2025|
|            Japan|   1548|
+-----------------+-------+

In [22]:
flightData2015\
.groupBy("DEST_COUNTRY_NAME")\
.sum("FLIGHT_COUNT")\
.withColumnRenamed("sum(FLIGHT_COUNT)","FLIGHT_COUNT")\
.sort("FLIGHT_COUNT",ascending=False)\
.limit(5)\
.show()

+-----------------+------------+
|DEST_COUNTRY_NAME|FLIGHT_COUNT|
+-----------------+------------+
|    United States|      411352|
|           Canada|        8399|
|           Mexico|        7140|
|   United Kingdom|        2025|
|            Japan|        1548|
+-----------------+------------+

In [23]:
flightData2015\
.groupBy("DEST_COUNTRY_NAME")\
.sum("FLIGHT_COUNT")\
.withColumnRenamed("sum(FLIGHT_COUNT)","FLIGHT_COUNT")\
.sort("FLIGHT_COUNT",ascending=False)\
.limit(5)\
.explain()

== Physical Plan ==
TakeOrderedAndProject(limit=5, orderBy=[FLIGHT_COUNT#209L DESC NULLS LAST], output=[DEST_COUNTRY_NAME#16,FLIGHT_COUNT#209L])
+- *(2) HashAggregate(keys=[DEST_COUNTRY_NAME#16], functions=[sum(cast(FLIGHT_COUNT#41 as bigint))])
   +- Exchange hashpartitioning(DEST_COUNTRY_NAME#16, 200), ENSURE_REQUIREMENTS, [id=#333]
      +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#16], functions=[partial_sum(cast(FLIGHT_COUNT#41 as bigint))])
         +- *(1) Project [DEST_COUNTRY_NAME#16, count#18 AS flight_count#41]
            +- FileScan csv [DEST_COUNTRY_NAME#16,count#18] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[file:/home/tamaghna/spark-The-Definitive-Guide/data/flight-data/csv/2015-summar..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,count:int>

In [24]:
df = spark.range(100).toDF("number")

In [25]:
df.select(df["number"]+10).show()

+-------------+
|(number + 10)|
+-------------+
|           10|
|           11|
|           12|
|           13|
|           14|
|           15|
|           16|
|           17|
|           18|
|           19|
|           20|
|           21|
|           22|
|           23|
|           24|
|           25|
|           26|
|           27|
|           28|
|           29|
+-------------+
only showing top 20 rows

In [26]:
spark.range(5).collect()

[Row(id=0), Row(id=1), Row(id=2), Row(id=3), Row(id=4)]

In [27]:
df = spark.read.format("json")\
                .load("file:///home/tamaghna/spark-The-Definitive-Guide/data/flight-data/json/2015-summary.json")

In [28]:
df.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [29]:
df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

In [30]:
df.schema

StructType(List(StructField(DEST_COUNTRY_NAME,StringType,true),StructField(ORIGIN_COUNTRY_NAME,StringType,true),StructField(count,LongType,true)))

In [31]:
from pyspark.sql.types import StructType,StructField,StringType,LongType

In [32]:
myManualSchema = StructType([\
                            StructField("DEST_COUNTRY_NAME",StringType(),True),\
                            StructField("ORIGIN_COUNTRY_NAME",StringType(),True),\
                            StructField("count",StringType(),True),\
                            ])

In [33]:
df = spark.read.format("json")\
                .schema(myManualSchema)\
                .load("file:///home/tamaghna/spark-The-Definitive-Guide/data/flight-data/json/2015-summary.json")

In [34]:
df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: string (nullable = true)

In [35]:
df.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [36]:
from pyspark.sql.functions import col,column,expr

In [37]:
df.select(expr("DEST_COUNTRY_NAME AS destination")).show()

+--------------------+
|         destination|
+--------------------+
|       United States|
|       United States|
|       United States|
|               Egypt|
|       United States|
|       United States|
|       United States|
|          Costa Rica|
|             Senegal|
|             Moldova|
|       United States|
|       United States|
|              Guyana|
|               Malta|
|            Anguilla|
|             Bolivia|
|       United States|
|             Algeria|
|Turks and Caicos ...|
|       United States|
+--------------------+
only showing top 20 rows

In [38]:
df.selectExpr("DEST_COUNTRY_NAME as destination","ORIGIN_COUNTRY_NAME as origin").show()

+--------------------+----------------+
|         destination|          origin|
+--------------------+----------------+
|       United States|         Romania|
|       United States|         Croatia|
|       United States|         Ireland|
|               Egypt|   United States|
|       United States|           India|
|       United States|       Singapore|
|       United States|         Grenada|
|          Costa Rica|   United States|
|             Senegal|   United States|
|             Moldova|   United States|
|       United States|    Sint Maarten|
|       United States|Marshall Islands|
|              Guyana|   United States|
|               Malta|   United States|
|            Anguilla|   United States|
|             Bolivia|   United States|
|       United States|        Paraguay|
|             Algeria|   United States|
|Turks and Caicos ...|   United States|
|       United States|       Gibraltar|
+--------------------+----------------+
only showing top 20 rows

In [39]:
df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [40]:
df.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [41]:
from pyspark.sql.functions import when

In [42]:
df.withColumn("domestic",when(df.DEST_COUNTRY_NAME == df.ORIGIN_COUNTRY_NAME,'Y').otherwise('N'))\
                .filter(col("domestic")=='Y').show()

+-----------------+-------------------+------+--------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|domestic|
+-----------------+-------------------+------+--------+
|    United States|      United States|370002|       Y|
+-----------------+-------------------+------+--------+

In [43]:
df.filter(col("count") > 1).show()

+--------------------+--------------------+-----+
|   DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME|count|
+--------------------+--------------------+-----+
|       United States|             Romania|   15|
|       United States|             Ireland|  344|
|               Egypt|       United States|   15|
|       United States|               India|   62|
|       United States|             Grenada|   62|
|          Costa Rica|       United States|  588|
|             Senegal|       United States|   40|
|       United States|        Sint Maarten|  325|
|       United States|    Marshall Islands|   39|
|              Guyana|       United States|   64|
|            Anguilla|       United States|   41|
|             Bolivia|       United States|   30|
|       United States|            Paraguay|    6|
|             Algeria|       United States|    4|
|Turks and Caicos ...|       United States|  230|
|               Italy|       United States|  382|
|       United States|Federated States ...|   69|
|       United States|              Russia|  161|
|            Pakistan|       United States|   12|
|       United States|         Netherlands|  660|
+--------------------+--------------------+-----+
only showing top 20 rows

Random Samples

In [44]:
df.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [45]:
df.sample(withReplacement=False, fraction=0.5, seed=5).count()

138

In [46]:
dataFrames = df.randomSplit([0.25,0.75])

In [47]:
dataFrames[0].count()

58

In [48]:
dataFrames[1].count()

198

In [49]:
df.orderBy("count",ascending=False).show()

+-----------------+--------------------+-----+
|DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME|count|
+-----------------+--------------------+-----+
|    United States|         The Bahamas|  986|
|      The Bahamas|       United States|  955|
|    United States|              France|  952|
|           France|       United States|  935|
|    United States|               China|  920|
|          Curacao|       United States|   90|
|         Colombia|       United States|  873|
|    United States|            Colombia|  867|
|           Brazil|       United States|  853|
|    United States|              Canada| 8483|
|           Canada|       United States| 8399|
|     Saudi Arabia|       United States|   83|
|    United States|             Curacao|   83|
|    United States|         South Korea|  827|
|    United States|British Virgin Is...|   80|
|      Netherlands|       United States|  776|
|            China|       United States|  772|
|    United States|         New Zealand|   74|
|    United States|              Mexico| 7187|
|           Mexico|       United States| 7140|
+-----------------+--------------------+-----+
only showing top 20 rows

In [50]:
from pyspark.sql.functions import desc,col

In [51]:
df.orderBy(desc("count")).show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|        The Bahamas|  986|
|      The Bahamas|      United States|  955|
|    United States|             France|  952|
|           France|      United States|  935|
|    United States|              China|  920|
+-----------------+-------------------+-----+
only showing top 5 rows

In [52]:
df.sort(desc("count")).show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|        The Bahamas|  986|
|      The Bahamas|      United States|  955|
|    United States|             France|  952|
|           France|      United States|  935|
|    United States|              China|  920|
+-----------------+-------------------+-----+
only showing top 5 rows

In [53]:
df.sort(col("count").desc()).show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|        The Bahamas|  986|
|      The Bahamas|      United States|  955|
|    United States|             France|  952|
|           France|      United States|  935|
|    United States|              China|  920|
+-----------------+-------------------+-----+
only showing top 5 rows

In [54]:
type(df.count)

method

In [55]:
type(df.select(col("count")))

pyspark.sql.dataframe.DataFrame

In [56]:
type(col("count"))

pyspark.sql.column.Column

In [57]:
df.rdd.getNumPartitions()

1

In [58]:
df.repartition(2,"count")

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: string]

In [59]:
df.rdd.getNumPartitions()

1

# Chapter 6

In [60]:
df = spark.read.format("csv")\
        .options(header=True)\
        .options(inferSchema=True)\
        .load("file:///home/tamaghna/spark-The-Definitive-Guide/data/retail-data/by-day/2010-12-01.csv")

In [61]:
df.createOrReplaceTempView("dfTable")

In [62]:
df.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

In [63]:
df.show(5)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 5 rows

In [64]:
df.select("Country").distinct().show()

+--------------+
|       Country|
+--------------+
|       Germany|
|        France|
|          EIRE|
|        Norway|
|     Australia|
|United Kingdom|
|   Netherlands|
+--------------+

In [65]:
df.filter(col("Country")=="Germany").show()

+---------+---------+--------------------+--------+-------------------+---------+----------+-------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+-------+
|   536527|    22809|SET OF 6 T-LIGHTS...|       6|2010-12-01 13:04:00|     2.95|   12662.0|Germany|
|   536527|    84347|ROTATING SILVER A...|       6|2010-12-01 13:04:00|     2.55|   12662.0|Germany|
|   536527|    84945|MULTI COLOUR SILV...|      12|2010-12-01 13:04:00|     0.85|   12662.0|Germany|
|   536527|    22242|5 HOOK HANGER MAG...|      12|2010-12-01 13:04:00|     1.65|   12662.0|Germany|
|   536527|    22244|3 HOOK HANGER MAG...|      12|2010-12-01 13:04:00|     1.95|   12662.0|Germany|
|   536527|    22243|5 HOOK HANGER RED...|      12|2010-12-01 13:04:00|     1.65|   12662.0|Germany|
|   536527|    47421|ASSORTED COLOUR L...|      24|2010-12-01 13:04:00|     0.42|   12662.0|Germany|
|   536527|    20712|JUMBO BAG WOODLAN...|      10|2010-12-01 13:04:00|     1.95|   12662.0|Germany|
|   536527|    20713|      JUMBO BAG OWLS|      10|2010-12-01 13:04:00|     1.95|   12662.0|Germany|
|   536527|    22837|HOT WATER BOTTLE ...|       4|2010-12-01 13:04:00|     4.65|   12662.0|Germany|
|   536527|    22969|HOMEMADE JAM SCEN...|      12|2010-12-01 13:04:00|     1.45|   12662.0|Germany|
|   536527|    22973|CHILDREN'S CIRCUS...|      12|2010-12-01 13:04:00|     1.65|   12662.0|Germany|
|   536527|   84569B|PACK 3 FIRE ENGIN...|      12|2010-12-01 13:04:00|     1.25|   12662.0|Germany|
|   536527|    22549|    PICTURE DOMINOES|      12|2010-12-01 13:04:00|     1.45|   12662.0|Germany|
|   536527|     POST|             POSTAGE|       1|2010-12-01 13:04:00|     18.0|   12662.0|Germany|
|  C536548|    22244|3 HOOK HANGER MAG...|      -4|2010-12-01 14:33:00|     1.95|   12472.0|Germany|
|  C536548|    22242|5 HOOK HANGER MAG...|      -5|2010-12-01 14:33:00|     1.65|   12472.0|Germany|
|  C536548|    20914|SET/5 RED RETROSP...|      -1|2010-12-01 14:33:00|     2.95|   12472.0|Germany|
|  C536548|    22892|SET OF SALT AND P...|      -7|2010-12-01 14:33:00|     1.25|   12472.0|Germany|
|  C536548|    22654|  DELUXE SEWING KIT |      -1|2010-12-01 14:33:00|     5.95|   12472.0|Germany|
+---------+---------+--------------------+--------+-------------------+---------+----------+-------+
only showing top 20 rows

In [66]:
df.filter(col("UnitPrice") > 100).show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536392|    22827|RUSTIC  SEVENTEEN...|       1|2010-12-01 10:29:00|    165.0|   13705.0|United Kingdom|
|   536544|      DOT|      DOTCOM POSTAGE|       1|2010-12-01 14:32:00|   569.77|      null|United Kingdom|
|   536592|      DOT|      DOTCOM POSTAGE|       1|2010-12-01 17:06:00|   607.49|      null|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+

In [67]:
from pyspark.sql.functions import instr

In [68]:
df.filter(instr(col("Description"),"POSTAGE")>0).show()

+---------+---------+--------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|   Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------+--------+-------------------+---------+----------+--------------+
|   536370|     POST|       POSTAGE|       3|2010-12-01 08:45:00|     18.0|   12583.0|        France|
|   536403|     POST|       POSTAGE|       1|2010-12-01 11:27:00|     15.0|   12791.0|   Netherlands|
|   536527|     POST|       POSTAGE|       1|2010-12-01 13:04:00|     18.0|   12662.0|       Germany|
|   536544|      DOT|DOTCOM POSTAGE|       1|2010-12-01 14:32:00|   569.77|      null|United Kingdom|
|   536592|      DOT|DOTCOM POSTAGE|       1|2010-12-01 17:06:00|   607.49|      null|United Kingdom|
+---------+---------+--------------+--------+-------------------+---------+----------+--------------+

In [69]:
df.filter(df.StockCode.isin("DOT")).show()

+---------+---------+--------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|   Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------+--------+-------------------+---------+----------+--------------+
|   536544|      DOT|DOTCOM POSTAGE|       1|2010-12-01 14:32:00|   569.77|      null|United Kingdom|
|   536592|      DOT|DOTCOM POSTAGE|       1|2010-12-01 17:06:00|   607.49|      null|United Kingdom|
+---------+---------+--------------+--------+-------------------+---------+----------+--------------+

In [70]:
df.filter(df.UnitPrice > 600).show()

+---------+---------+--------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|   Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------+--------+-------------------+---------+----------+--------------+
|   536592|      DOT|DOTCOM POSTAGE|       1|2010-12-01 17:06:00|   607.49|      null|United Kingdom|
+---------+---------+--------------+--------+-------------------+---------+----------+--------------+

In [71]:
df.filter(instr(df.Description,"PINK")>0).show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536370|    22728|ALARM CLOCK BAKEL...|      24|2010-12-01 08:45:00|     3.75|   12583.0|        France|
|   536378|    22386|JUMBO BAG PINK PO...|      10|2010-12-01 09:37:00|     1.95|   14688.0|United Kingdom|
|   536378|    21977|PACK OF 60 PINK P...|      24|2010-12-01 09:37:00|     0.55|   14688.0|United Kingdom|
|   536378|    21929|JUMBO BAG PINK VI...|      10|2010-12-01 09:37:00|     1.95|   14688.0|United Kingdom|
|   536381|    84854| GIRLY PINK TOOL SET|       5|2010-12-01 09:41:00|     4.95|   15311.0|United Kingdom|
|   536381|   37444C|PINK BREAKFAST CU...|       1|2010-12-01 09:41:00|     2.95|   15311.0|United Kingdom|
|   536382|    22381|TOY TIDY PINK POL...|      50|2010-12-01 09:45:00|     1.85|   16098.0|United Kingdom|
|   536387|    22780|LIGHT GARLAND BUT...|     192|2010-12-01 09:58:00|     3.37|   16029.0|United Kingdom|
|   536390|    22962|JAM JAR WITH PINK...|      48|2010-12-01 10:19:00|     0.72|   17511.0|United Kingdom|
|  C536391|    21984|PACK OF 12 PINK P...|     -24|2010-12-01 10:24:00|     0.29|   17548.0|United Kingdom|
|   536395|    21977|PACK OF 60 PINK P...|      24|2010-12-01 10:47:00|     0.55|   13767.0|United Kingdom|
|   536398|    22064|PINK DOUGHNUT TRI...|      12|2010-12-01 10:52:00|     1.65|   13448.0|United Kingdom|
|   536398|    22449|SILK PURSE BABUSH...|       6|2010-12-01 10:52:00|     3.35|   13448.0|United Kingdom|
|   536401|    21122|SET/10 PINK POLKA...|       1|2010-12-01 11:21:00|     1.25|   15862.0|United Kingdom|
|   536401|   84709B|PINK OVAL JEWELLE...|       1|2010-12-01 11:21:00|     5.95|   15862.0|United Kingdom|
|   536401|    22804|CANDLEHOLDER PINK...|       3|2010-12-01 11:21:00|     2.95|   15862.0|United Kingdom|
|   536401|    22384|LUNCH BAG PINK PO...|       1|2010-12-01 11:21:00|     1.65|   15862.0|United Kingdom|
|   536401|   84625A|PINK NEW BAROQUEC...|       3|2010-12-01 11:21:00|     2.95|   15862.0|United Kingdom|
|   536401|    22848|BREAD BIN DINER S...|       1|2010-12-01 11:21:00|    16.95|   15862.0|United Kingdom|
|   536404|    22772|PINK DRAWER KNOB ...|      12|2010-12-01 11:29:00|     1.25|   16218.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

In [72]:
df.filter((df.UnitPrice > 600)|(instr(df.Description,"PINK")>0)).show(40)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536370|    22728|ALARM CLOCK BAKEL...|      24|2010-12-01 08:45:00|     3.75|   12583.0|        France|
|   536378|    22386|JUMBO BAG PINK PO...|      10|2010-12-01 09:37:00|     1.95|   14688.0|United Kingdom|
|   536378|    21977|PACK OF 60 PINK P...|      24|2010-12-01 09:37:00|     0.55|   14688.0|United Kingdom|
|   536378|    21929|JUMBO BAG PINK VI...|      10|2010-12-01 09:37:00|     1.95|   14688.0|United Kingdom|
|   536381|    84854| GIRLY PINK TOOL SET|       5|2010-12-01 09:41:00|     4.95|   15311.0|United Kingdom|
|   536381|   37444C|PINK BREAKFAST CU...|       1|2010-12-01 09:41:00|     2.95|   15311.0|United Kingdom|
|   536382|    22381|TOY TIDY PINK POL...|      50|2010-12-01 09:45:00|     1.85|   16098.0|United Kingdom|
|   536387|    22780|LIGHT GARLAND BUT...|     192|2010-12-01 09:58:00|     3.37|   16029.0|United Kingdom|
|   536390|    22962|JAM JAR WITH PINK...|      48|2010-12-01 10:19:00|     0.72|   17511.0|United Kingdom|
|  C536391|    21984|PACK OF 12 PINK P...|     -24|2010-12-01 10:24:00|     0.29|   17548.0|United Kingdom|
|   536395|    21977|PACK OF 60 PINK P...|      24|2010-12-01 10:47:00|     0.55|   13767.0|United Kingdom|
|   536398|    22064|PINK DOUGHNUT TRI...|      12|2010-12-01 10:52:00|     1.65|   13448.0|United Kingdom|
|   536398|    22449|SILK PURSE BABUSH...|       6|2010-12-01 10:52:00|     3.35|   13448.0|United Kingdom|
|   536401|    21122|SET/10 PINK POLKA...|       1|2010-12-01 11:21:00|     1.25|   15862.0|United Kingdom|
|   536401|   84709B|PINK OVAL JEWELLE...|       1|2010-12-01 11:21:00|     5.95|   15862.0|United Kingdom|
|   536401|    22804|CANDLEHOLDER PINK...|       3|2010-12-01 11:21:00|     2.95|   15862.0|United Kingdom|
|   536401|    22384|LUNCH BAG PINK PO...|       1|2010-12-01 11:21:00|     1.65|   15862.0|United Kingdom|
|   536401|   84625A|PINK NEW BAROQUEC...|       3|2010-12-01 11:21:00|     2.95|   15862.0|United Kingdom|
|   536401|    22848|BREAD BIN DINER S...|       1|2010-12-01 11:21:00|    16.95|   15862.0|United Kingdom|
|   536404|    22772|PINK DRAWER KNOB ...|      12|2010-12-01 11:29:00|     1.25|   16218.0|United Kingdom|
|   536404|   85049C|ROMANTIC PINKS RI...|      12|2010-12-01 11:29:00|     1.25|   16218.0|United Kingdom|
|   536409|    22785|SQUARECUSHION COV...|       1|2010-12-01 11:45:00|     6.75|   17908.0|United Kingdom|
|   536409|   84625A|PINK NEW BAROQUEC...|       1|2010-12-01 11:45:00|     2.95|   17908.0|United Kingdom|
|   536409|    84906|PINK B'FLY C/COVE...|       1|2010-12-01 11:45:00|     5.95|   17908.0|United Kingdom|
|   536409|    21867|PINK UNION JACK  ...|       1|2010-12-01 11:45:00|     1.25|   17908.0|United Kingdom|
|   536409|    22074|6 RIBBONS SHIMMER...|       1|2010-12-01 11:45:00|     1.65|   17908.0|United Kingdom|
|   536412|    21243|PINK  POLKADOT PL...|       1|2010-12-01 11:49:00|     1.69|   17920.0|United Kingdom|
|   536412|    21710|FOLDING UMBRELLA ...|       1|2010-12-01 11:49:00|     4.95|   17920.0|United Kingdom|
|   536415|    21986|PACK OF 12 PINK P...|      12|2010-12-01 11:57:00|     0.29|   12838.0|United Kingdom|
|   536415|    21977|PACK OF 60 PINK P...|       3|2010-12-01 11:57:00|     0.55|   12838.0|United Kingdom|
|   536415|    22566|FELTCRAFT HAIRBAN...|       3|2010-12-01 11:57:00|     0.85|   12838.0|United Kingdom|
|   536415|    22565|FELTCRAFT HAIRBAN...|       3|2010-12-01 11:57:00|     0.85|   12838.0|United Kingdom|
|   536425|    22449|SILK PURSE BABUSH...|       6|2010-12-01 12:08:00|     3.35|   13758.0|United Kingdom|
|   536460|    21977|PACK OF 60 PINK P...|      24|2010-12-01 12:22:00|     0.55|   14849.0|United Kingdom|
|   536464|   90200D|PINK SWEETHEART B...|       3|2010-12-01 12:23:00|     4.25|   17968.0|United Kingdom|
|   536464|    22386|JUMBO BAG PINK PO...|       1|2010-12-01 12:23:00|     1.95|   17968.0|United Kingdom|
|   536464|    21977|PACK OF 60 PINK P...|       1|2010-12-01 12:23:00|     0.55|   17968.0|United Kingdom|
|   536464|    21122|SET/10 PINK POLKA...|       1|2010-12-01 12:23:00|     1.25|   17968.0|United Kingdom|
|   536488|    21190|PINK HEARTS PAPER...|       1|2010-12-01 12:31:00|     1.65|   17897.0|United Kingdom|
|   536520|    21867|PINK UNION JACK  ...|       1|2010-12-01 12:43:00|     1.25|   14729.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 40 rows

In [73]:
df.withColumn("isExpensive",df.UnitPrice > 100)\
.withColumn("isExpensive",when(col("isExpensive")==False,"No").otherwise("Yes"))\
.select("UnitPrice","isExpensive").show()

+---------+-----------+
|UnitPrice|isExpensive|
+---------+-----------+
|     2.55|         No|
|     3.39|         No|
|     2.75|         No|
|     3.39|         No|
|     3.39|         No|
|     7.65|         No|
|     4.25|         No|
|     1.85|         No|
|     1.85|         No|
|     1.69|         No|
|      2.1|         No|
|      2.1|         No|
|     3.75|         No|
|     1.65|         No|
|     4.25|         No|
|     4.95|         No|
|     9.95|         No|
|     5.95|         No|
|     5.95|         No|
|     7.95|         No|
+---------+-----------+
only showing top 20 rows

In [74]:
df.filter(col("Description").eqNullSafe("Hi")).show()

+---------+---------+-----------+--------+-----------+---------+----------+-------+
|InvoiceNo|StockCode|Description|Quantity|InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+-----------+--------+-----------+---------+----------+-------+
+---------+---------+-----------+--------+-----------+---------+----------+-------+

In [75]:
from pyspark.sql.functions import initcap,lpad,lit,upper,lower,trim,lpad,rpad
from pyspark.sql import Row

In [76]:
df1 = spark.createDataFrame(Row(["Hello"])).withColumnRenamed("_1","value")
# lpad(initcap("hello"),8,'a')

In [77]:
df1.withColumn("value",lpad(initcap(col("value")),8,'a')).show()

+--------+
|   value|
+--------+
|aaaHello|
+--------+

In [78]:
df1.show()

+-----+
|value|
+-----+
|Hello|
+-----+

In [79]:
df.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|   17850.0|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|   17850.0|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|     3.75|   13047.0|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|     1.65|   13047.0|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|     4.25|   13047.0|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|     4.95|   13047.0|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|     9.95|   13047.0|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|     7.95|   13047.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

In [80]:
df.withColumn("Description",initcap(df.Description)).show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|White Hanging Hea...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| White Metal Lantern|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|Cream Cupid Heart...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|Knitted Union Fla...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|Red Woolly Hottie...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|    22752|Set 7 Babushka Ne...|       2|2010-12-01 08:26:00|     7.65|   17850.0|United Kingdom|
|   536365|    21730|Glass Star Froste...|       6|2010-12-01 08:26:00|     4.25|   17850.0|United Kingdom|
|   536366|    22633|Hand Warmer Union...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536366|    22632|Hand Warmer Red P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536367|    84879|Assorted Colour B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|United Kingdom|
|   536367|    22745|Poppy's Playhouse...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22748|Poppy's Playhouse...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22749|Feltcraft Princes...|       8|2010-12-01 08:34:00|     3.75|   13047.0|United Kingdom|
|   536367|    22310|Ivory Knitted Mug...|       6|2010-12-01 08:34:00|     1.65|   13047.0|United Kingdom|
|   536367|    84969|Box Of 6 Assorted...|       6|2010-12-01 08:34:00|     4.25|   13047.0|United Kingdom|
|   536367|    22623|Box Of Vintage Ji...|       3|2010-12-01 08:34:00|     4.95|   13047.0|United Kingdom|
|   536367|    22622|Box Of Vintage Al...|       2|2010-12-01 08:34:00|     9.95|   13047.0|United Kingdom|
|   536367|    21754|Home Building Blo...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21755|Love Building Blo...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21777|Recipe Box With M...|       4|2010-12-01 08:34:00|     7.95|   13047.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

In [81]:
df.withColumn("Description",upper(col("Description"))).show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|   17850.0|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|   17850.0|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|     3.75|   13047.0|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|     1.65|   13047.0|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|     4.25|   13047.0|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|     4.95|   13047.0|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|     9.95|   13047.0|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|     7.95|   13047.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

In [82]:
df.withColumn("Description",trim(col("Description"))).show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|   17850.0|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|   17850.0|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|     3.75|   13047.0|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|     1.65|   13047.0|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|     4.25|   13047.0|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|     4.95|   13047.0|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|     9.95|   13047.0|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|     7.95|   13047.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

In [83]:
df.withColumn("Description",lpad(col("Description"),30,'a')).show(truncate=False)

+---------+---------+------------------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|Description                   |Quantity|InvoiceDate        |UnitPrice|CustomerID|Country       |
+---------+---------+------------------------------+--------+-------------------+---------+----------+--------------+
|536365   |85123A   |WHITE HANGING HEART T-LIGHT HO|6       |2010-12-01 08:26:00|2.55     |17850.0   |United Kingdom|
|536365   |71053    |aaaaaaaaaaaWHITE METAL LANTERN|6       |2010-12-01 08:26:00|3.39     |17850.0   |United Kingdom|
|536365   |84406B   |CREAM CUPID HEARTS COAT HANGER|8       |2010-12-01 08:26:00|2.75     |17850.0   |United Kingdom|
|536365   |84029G   |KNITTED UNION FLAG HOT WATER B|6       |2010-12-01 08:26:00|3.39     |17850.0   |United Kingdom|
|536365   |84029E   |RED WOOLLY HOTTIE WHITE HEART.|6       |2010-12-01 08:26:00|3.39     |17850.0   |United Kingdom|
|536365   |22752    |aaSET 7 BABUSHKA NESTING BOXES|2       |2010-12-01 08:26:00|7.65     |17850.0   |United Kingdom|
|536365   |21730    |GLASS STAR FROSTED T-LIGHT HOL|6       |2010-12-01 08:26:00|4.25     |17850.0   |United Kingdom|
|536366   |22633    |aaaaaaaaHAND WARMER UNION JACK|6       |2010-12-01 08:28:00|1.85     |17850.0   |United Kingdom|
|536366   |22632    |aaaaaHAND WARMER RED POLKA DOT|6       |2010-12-01 08:28:00|1.85     |17850.0   |United Kingdom|
|536367   |84879    |aASSORTED COLOUR BIRD ORNAMENT|32      |2010-12-01 08:34:00|1.69     |13047.0   |United Kingdom|
|536367   |22745    |aaaaPOPPY'S PLAYHOUSE BEDROOM |6       |2010-12-01 08:34:00|2.1      |13047.0   |United Kingdom|
|536367   |22748    |aaaaaPOPPY'S PLAYHOUSE KITCHEN|6       |2010-12-01 08:34:00|2.1      |13047.0   |United Kingdom|
|536367   |22749    |FELTCRAFT PRINCESS CHARLOTTE D|8       |2010-12-01 08:34:00|3.75     |13047.0   |United Kingdom|
|536367   |22310    |aaaaaaaIVORY KNITTED MUG COSY |6       |2010-12-01 08:34:00|1.65     |13047.0   |United Kingdom|
|536367   |84969    |BOX OF 6 ASSORTED COLOUR TEASP|6       |2010-12-01 08:34:00|4.25     |13047.0   |United Kingdom|
|536367   |22623    |aBOX OF VINTAGE JIGSAW BLOCKS |3       |2010-12-01 08:34:00|4.95     |13047.0   |United Kingdom|
|536367   |22622    |BOX OF VINTAGE ALPHABET BLOCKS|2       |2010-12-01 08:34:00|9.95     |13047.0   |United Kingdom|
|536367   |21754    |aaaaaaHOME BUILDING BLOCK WORD|3       |2010-12-01 08:34:00|5.95     |13047.0   |United Kingdom|
|536367   |21755    |aaaaaaLOVE BUILDING BLOCK WORD|3       |2010-12-01 08:34:00|5.95     |13047.0   |United Kingdom|
|536367   |21777    |aaaRECIPE BOX WITH METAL HEART|4       |2010-12-01 08:34:00|7.95     |13047.0   |United Kingdom|
+---------+---------+------------------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

In [84]:
from pyspark.sql.functions import current_date,current_timestamp

In [85]:
dateDF = spark.range(10).withColumn("today",current_date()).withColumn("now",current_timestamp())

In [86]:
dateDF.show(truncate=False)

+---+----------+-----------------------+
|id |today     |now                    |
+---+----------+-----------------------+
|0  |2021-09-29|2021-09-29 06:39:14.188|
|1  |2021-09-29|2021-09-29 06:39:14.188|
|2  |2021-09-29|2021-09-29 06:39:14.188|
|3  |2021-09-29|2021-09-29 06:39:14.188|
|4  |2021-09-29|2021-09-29 06:39:14.188|
|5  |2021-09-29|2021-09-29 06:39:14.188|
|6  |2021-09-29|2021-09-29 06:39:14.188|
|7  |2021-09-29|2021-09-29 06:39:14.188|
|8  |2021-09-29|2021-09-29 06:39:14.188|
|9  |2021-09-29|2021-09-29 06:39:14.188|
+---+----------+-----------------------+

In [87]:
dateDF.createOrReplaceTempView("dateTable")

In [88]:
spark.sql("select * from dateTable").show(truncate=False)

+---+----------+-----------------------+
|id |today     |now                    |
+---+----------+-----------------------+
|0  |2021-09-29|2021-09-29 06:39:14.577|
|1  |2021-09-29|2021-09-29 06:39:14.577|
|2  |2021-09-29|2021-09-29 06:39:14.577|
|3  |2021-09-29|2021-09-29 06:39:14.577|
|4  |2021-09-29|2021-09-29 06:39:14.577|
|5  |2021-09-29|2021-09-29 06:39:14.577|
|6  |2021-09-29|2021-09-29 06:39:14.577|
|7  |2021-09-29|2021-09-29 06:39:14.577|
|8  |2021-09-29|2021-09-29 06:39:14.577|
|9  |2021-09-29|2021-09-29 06:39:14.577|
+---+----------+-----------------------+

In [89]:
dateDF.printSchema()

root
 |-- id: long (nullable = false)
 |-- today: date (nullable = false)
 |-- now: timestamp (nullable = false)

In [90]:
from pyspark.sql.functions import date_add,date_sub

In [91]:
dateDF.select(\
              date_add(col("today"),5).alias("Future 5")\
              ,date_sub(col("today"),5).alias("Past 5")\
             )\
.show(truncate=False)

+----------+----------+
|Future 5  |Past 5    |
+----------+----------+
|2021-10-04|2021-09-24|
|2021-10-04|2021-09-24|
|2021-10-04|2021-09-24|
|2021-10-04|2021-09-24|
|2021-10-04|2021-09-24|
|2021-10-04|2021-09-24|
|2021-10-04|2021-09-24|
|2021-10-04|2021-09-24|
|2021-10-04|2021-09-24|
|2021-10-04|2021-09-24|
+----------+----------+

In [92]:
from pyspark.sql.functions import datediff,months_between,to_date

In [93]:
dateDF.withColumn("week_ago",date_sub(col("today"),7))\
        .select(datediff(col("week_ago"),col("today"))).show(1)

+-------------------------+
|datediff(week_ago, today)|
+-------------------------+
|                       -7|
+-------------------------+
only showing top 1 row

In [94]:
#add columns, start and end - 2016-01-01 and 2017-05-22

In [95]:
dateDF = dateDF.withColumn("start",to_date(lit("2016-01-01")))\
                .withColumn("end",to_date(lit("2017-05-22")))\
                .select(months_between(col("start"),col("end")))

In [96]:
dateDF.show()

+--------------------------------+
|months_between(start, end, true)|
+--------------------------------+
|                    -16.67741935|
|                    -16.67741935|
|                    -16.67741935|
|                    -16.67741935|
|                    -16.67741935|
|                    -16.67741935|
|                    -16.67741935|
|                    -16.67741935|
|                    -16.67741935|
|                    -16.67741935|
+--------------------------------+

In [107]:
df.select(df.Description.isNull()).withColumnRenamed("(Description IS NULL)","desc")\
.filter(col("desc")==True)\
.show()

+----+
|desc|
+----+
|true|
|true|
|true|
|true|
|true|
|true|
|true|
|true|
|true|
|true|
+----+

In [109]:
df.filter(col("Description").isNull()).show()

+---------+---------+-----------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+-----------+--------+-------------------+---------+----------+--------------+
|   536414|    22139|       null|      56|2010-12-01 11:52:00|      0.0|      null|United Kingdom|
|   536545|    21134|       null|       1|2010-12-01 14:32:00|      0.0|      null|United Kingdom|
|   536546|    22145|       null|       1|2010-12-01 14:33:00|      0.0|      null|United Kingdom|
|   536547|    37509|       null|       1|2010-12-01 14:33:00|      0.0|      null|United Kingdom|
|   536549|   85226A|       null|       1|2010-12-01 14:34:00|      0.0|      null|United Kingdom|
|   536550|    85044|       null|       1|2010-12-01 14:34:00|      0.0|      null|United Kingdom|
|   536552|    20950|       null|       1|2010-12-01 14:34:00|      0.0|      null|United Kingdom|
|   536553|    37461|       null|       3|2010-12-01 14:35:00|      0.0|      null|United Kingdom|
|   536554|    84670|       null|      23|2010-12-01 14:35:00|      0.0|      null|United Kingdom|
|   536589|    21777|       null|     -10|2010-12-01 16:50:00|      0.0|      null|United Kingdom|
+---------+---------+-----------+--------+-------------------+---------+----------+--------------+

In [110]:
from pyspark.sql.functions import coalesce

In [122]:
df.filter(col("Description").isNull()).select(coalesce(col("Description"),lit("NA"))).show()

+-------------------------+
|coalesce(Description, NA)|
+-------------------------+
|                       NA|
|                       NA|
|                       NA|
|                       NA|
|                       NA|
|                       NA|
|                       NA|
|                       NA|
|                       NA|
|                       NA|
+-------------------------+

In [112]:
df.select("Country").distinct().show()

+--------------+
|       Country|
+--------------+
|       Germany|
|        France|
|          EIRE|
|        Norway|
|     Australia|
|United Kingdom|
|   Netherlands|
+--------------+

In [114]:
df.filter(col("Country").isin(["Germany","Australia"])).show()

+---------+---------+--------------------+--------+-------------------+---------+----------+---------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|  Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+---------+
|   536389|    22941|CHRISTMAS LIGHTS ...|       6|2010-12-01 10:03:00|      8.5|   12431.0|Australia|
|   536389|    21622|VINTAGE UNION JAC...|       8|2010-12-01 10:03:00|     4.95|   12431.0|Australia|
|   536389|    21791|VINTAGE HEADS AND...|      12|2010-12-01 10:03:00|     1.25|   12431.0|Australia|
|   536389|   35004C|SET OF 3 COLOURED...|       6|2010-12-01 10:03:00|     5.45|   12431.0|Australia|
|   536389|   35004G|SET OF 3 GOLD FLY...|       4|2010-12-01 10:03:00|     6.35|   12431.0|Australia|
|   536389|   85014B|RED RETROSPOT UMB...|       6|2010-12-01 10:03:00|     5.95|   12431.0|Australia|
|   536389|   85014A|BLACK/BLUE POLKAD...|       3|2010-12-01 10:03:00|     5.95|   12431.0|Australia|
|   536389|    22193|RED DINER WALL CLOCK|       2|2010-12-01 10:03:00|      8.5|   12431.0|Australia|
|   536389|    22726|ALARM CLOCK BAKEL...|       4|2010-12-01 10:03:00|     3.75|   12431.0|Australia|
|   536389|    22727|ALARM CLOCK BAKEL...|       4|2010-12-01 10:03:00|     3.75|   12431.0|Australia|
|   536389|    22192|BLUE DINER WALL C...|       2|2010-12-01 10:03:00|      8.5|   12431.0|Australia|
|   536389|    22191|IVORY DINER WALL ...|       2|2010-12-01 10:03:00|      8.5|   12431.0|Australia|
|   536389|    22195|LARGE HEART MEASU...|      24|2010-12-01 10:03:00|     1.65|   12431.0|Australia|
|   536389|    22196|SMALL HEART MEASU...|      24|2010-12-01 10:03:00|     0.85|   12431.0|Australia|
|   536527|    22809|SET OF 6 T-LIGHTS...|       6|2010-12-01 13:04:00|     2.95|   12662.0|  Germany|
|   536527|    84347|ROTATING SILVER A...|       6|2010-12-01 13:04:00|     2.55|   12662.0|  Germany|
|   536527|    84945|MULTI COLOUR SILV...|      12|2010-12-01 13:04:00|     0.85|   12662.0|  Germany|
|   536527|    22242|5 HOOK HANGER MAG...|      12|2010-12-01 13:04:00|     1.65|   12662.0|  Germany|
|   536527|    22244|3 HOOK HANGER MAG...|      12|2010-12-01 13:04:00|     1.95|   12662.0|  Germany|
|   536527|    22243|5 HOOK HANGER RED...|      12|2010-12-01 13:04:00|     1.65|   12662.0|  Germany|
+---------+---------+--------------------+--------+-------------------+---------+----------+---------+
only showing top 20 rows

In [124]:
df.na.drop("all",subset=["Description","CustomerID"]).filter(col("Description").isNull()).show()

+---------+---------+-----------+--------+-----------+---------+----------+-------+
|InvoiceNo|StockCode|Description|Quantity|InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+-----------+--------+-----------+---------+----------+-------+
+---------+---------+-----------+--------+-----------+---------+----------+-------+

In [127]:
df.na.fill({"CustomerID":0,"Description":"No_Value"}).filter(col("CustomerID")==0).show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536414|    22139|            No_Value|      56|2010-12-01 11:52:00|      0.0|       0.0|United Kingdom|
|   536544|    21773|DECORATIVE ROSE B...|       1|2010-12-01 14:32:00|     2.51|       0.0|United Kingdom|
|   536544|    21774|DECORATIVE CATS B...|       2|2010-12-01 14:32:00|     2.51|       0.0|United Kingdom|
|   536544|    21786|  POLKADOT RAIN HAT |       4|2010-12-01 14:32:00|     0.85|       0.0|United Kingdom|
|   536544|    21787|RAIN PONCHO RETRO...|       2|2010-12-01 14:32:00|     1.66|       0.0|United Kingdom|
|   536544|    21790|  VINTAGE SNAP CARDS|       9|2010-12-01 14:32:00|     1.66|       0.0|United Kingdom|
|   536544|    21791|VINTAGE HEADS AND...|       2|2010-12-01 14:32:00|     2.51|       0.0|United Kingdom|
|   536544|    21801|CHRISTMAS TREE DE...|      10|2010-12-01 14:32:00|     0.43|       0.0|United Kingdom|
|   536544|    21802|CHRISTMAS TREE HE...|       9|2010-12-01 14:32:00|     0.43|       0.0|United Kingdom|
|   536544|    21803|CHRISTMAS TREE ST...|      11|2010-12-01 14:32:00|     0.43|       0.0|United Kingdom|
|   536544|    21809|CHRISTMAS HANGING...|       1|2010-12-01 14:32:00|     2.51|       0.0|United Kingdom|
|   536544|    21810|CHRISTMAS HANGING...|       3|2010-12-01 14:32:00|     2.51|       0.0|United Kingdom|
|   536544|    21811|CHRISTMAS HANGING...|       1|2010-12-01 14:32:00|     2.51|       0.0|United Kingdom|
|   536544|    21821|GLITTER STAR GARL...|       1|2010-12-01 14:32:00|     7.62|       0.0|United Kingdom|
|   536544|    21822|GLITTER CHRISTMAS...|       1|2010-12-01 14:32:00|     4.21|       0.0|United Kingdom|
|   536544|    21823|PAINTED METAL HEA...|       2|2010-12-01 14:32:00|     2.98|       0.0|United Kingdom|
|   536544|    21844|   RED RETROSPOT MUG|       2|2010-12-01 14:32:00|     5.91|       0.0|United Kingdom|
|   536544|    21851|LILAC DIAMANTE PE...|       1|2010-12-01 14:32:00|     4.21|       0.0|United Kingdom|
|   536544|    21870|I CAN ONLY PLEASE...|       1|2010-12-01 14:32:00|     3.36|       0.0|United Kingdom|
|   536544|    21871| SAVE THE PLANET MUG|       5|2010-12-01 14:32:00|     3.36|       0.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

In [128]:
df.na.fill({"CustomerID":0,"Description":"No_Value"}).filter(col("Description")=="No_Value").show()

+---------+---------+-----------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+-----------+--------+-------------------+---------+----------+--------------+
|   536414|    22139|   No_Value|      56|2010-12-01 11:52:00|      0.0|       0.0|United Kingdom|
|   536545|    21134|   No_Value|       1|2010-12-01 14:32:00|      0.0|       0.0|United Kingdom|
|   536546|    22145|   No_Value|       1|2010-12-01 14:33:00|      0.0|       0.0|United Kingdom|
|   536547|    37509|   No_Value|       1|2010-12-01 14:33:00|      0.0|       0.0|United Kingdom|
|   536549|   85226A|   No_Value|       1|2010-12-01 14:34:00|      0.0|       0.0|United Kingdom|
|   536550|    85044|   No_Value|       1|2010-12-01 14:34:00|      0.0|       0.0|United Kingdom|
|   536552|    20950|   No_Value|       1|2010-12-01 14:34:00|      0.0|       0.0|United Kingdom|
|   536553|    37461|   No_Value|       3|2010-12-01 14:35:00|      0.0|       0.0|United Kingdom|
|   536554|    84670|   No_Value|      23|2010-12-01 14:35:00|      0.0|       0.0|United Kingdom|
|   536589|    21777|   No_Value|     -10|2010-12-01 16:50:00|      0.0|       0.0|United Kingdom|
+---------+---------+-----------+--------+-------------------+---------+----------+--------------+

In [130]:
df.na.replace(to_replace="United Kingdom",value="UK",subset="Country").show()

+---------+---------+--------------------+--------+-------------------+---------+----------+-------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+-------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|     UK|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|     UK|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|     UK|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|     UK|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|     UK|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|   17850.0|     UK|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|   17850.0|     UK|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|   17850.0|     UK|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|     UK|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|     UK|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|     UK|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|     UK|
|   536367|    22749|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|     3.75|   13047.0|     UK|
|   536367|    22310|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|     1.65|   13047.0|     UK|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|     4.25|   13047.0|     UK|
|   536367|    22623|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|     4.95|   13047.0|     UK|
|   536367|    22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|     9.95|   13047.0|     UK|
|   536367|    21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|     UK|
|   536367|    21755|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|     UK|
|   536367|    21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|     7.95|   13047.0|     UK|
+---------+---------+--------------------+--------+-------------------+---------+----------+-------+
only showing top 20 rows